In [1]:
import pandas as pd
import numpy as np
from datascience import *
from __future__ import unicode_literals

In [2]:
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [3]:
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [4]:
fall_2017 = Table.read_table("Fall_2017.csv")

In [15]:
fall_2017

Campus Dept | Destiny ID | Section Title                                                | Course Control No. | Enrollment Count
COMPSCI     | X125019    | Directed Group Studies for Advanced Undergraduates           | 64080              | 2
COMPSCI     | X125019    | Matlab for Programmers                                       | 38518              | 1
COMPSCI     | X124313    | Directed Group Studies for Advanced Undergraduates           | 64071              | 2
COMPSCI     | X124471    | Data Structures                                              | 38772              | 31
COMPSCI     | X124404    | Foundations of Data Science                                  | 42193              | 38
ENGIN       | X124472    | Visualization for Design                                     | 39300              | 2
ENGIN       | X125019    | Visualization for Design                                     | 39300              | 2
ENGIN       | X125019    | Perspectives in Engineering                                  | 39339              | 2
INDENG      | X124472    | Advanced Topics in Industrial Engr & Operations Research ... | 46368              | 2
INFO        | X124472    | User Interface Design and Development                        | 40472              | 1
... (2920 rows omitted)

In [63]:
bga_or_not = []
for i in np.arange(fall_2017.num_rows):
    if fall_2017.column('Destiny ID').item(i) in fall_enrol.column('EID'):
        bga_or_not = np.append(bga_or_not, 'bga')
    else:
        bga_or_not = np.append(bga_or_not, 'not_bga')

2930

In [64]:
fall_2017 = fall_2017.with_columns('BGA', bga_or_not)

In [75]:
fall_2017.where('BGA', 'bga')

Campus Dept | Destiny ID | Section Title               | Course Control No. | Enrollment Count | BGA
MATSCI      | X125744    | Semiconductor Materials     | 39506              | 3                | bga
MATSCI      | X125838    | Semiconductor Materials     | 39506              | 3                | bga
MATH        | X125841    | Groups, Rings, and Fields   | 17140              | 4                | bga
PHYSICS     | X125746    | Electromagnetism and Optics | 19510              | 13               | bga
PHYSICS     | X125746    | Quantum Mechanics           | 19115              | 15               | bga
PHYSICS     | X125746    | Solid State Physics         | 18817              | 15               | bga
PHYSICS     | X125744    | Electromagnetism and Optics | 19510              | 13               | bga
PHYSICS     | X125744    | Quantum Mechanics           | 19115              | 15               | bga
PHYSICS     | X125747    | Electromagnetism and Optics | 19510              | 13               | bga
PHYSICS     | X125747    | Quantum Mechanics           | 19115              | 15               | bga
... (513 rows omitted)

In [81]:
fall_2017.group(['Campus Dept','BGA']).barh()

ValueError: The column 'BGA' contains non-numerical values. A plot cannot be drawn for this column.

In [39]:
fall_enrol = Table.read_table("enrol_fall_2017.csv")
fall_enrol

EID     | Institution
X111581 | SAF
X122766 | SAF
X122770 | SAF
X122659 | SAF
X122768 | SAF
X122773 | SAF
X122653 | SAF
X122818 | SAF
X122911 | SAF
X122810 | SAF
... (163 rows omitted)

In [42]:
bga_enrol = fall_2017.join('Destiny ID', fall_enrol, 'EID')

In [54]:
bga_enrol

Destiny ID | Campus Dept | Section Title                                | Course Control No. | Enrollment Count | Institution
X072039    | EPS         | Introduction to Climate Change               | 44687              | 4                | Xian Jiaotong University (School of Science)
X072039    | EPS         | Planetary Astrophysics                       | 14244              | 1                | Xian Jiaotong University (School of Science)
X072039    | MATH        | Mathematical Tools for the Physical Sciences | 17178              | 1                | Xian Jiaotong University (School of Science)
X098165    | COMPSCI     | Data Structures                              | 38772              | 31               | BIT
X098165    | COMPSCI     | Foundations of Data Science                  | 42193              | 38               | BIT
X101406    | UGBA        | Advanced Financial Accounting                | 10604              | 2                | Xiangfei
X101406    | UGBA        | Auditing                                     | 10642              | 9                | Xiangfei
X108191    | MATH        | Supervised Independent Study and Research    | 17069              | 1                | Xian Jiaotong University (School of Math)
X108191    | MATH        | Complex Manifolds                            | 45432              | 2                | Xian Jiaotong University (School of Math)
X108191    | MATH        | Topics in Partial Differential Equations     | 46526              | 1                | Xian Jiaotong University (School of Math)
... (513 rows omitted)

In [55]:
len(set(fall_2017.column(1))), len(set(bga_enrol.column(0)))

(901, 170)

In [8]:
courses = []
for i in np.arange((fall_2017.group(list(fall_2017)[2]).select(0)).num_rows):
    courses = np.append(courses, fall_2017.group(list(fall_2017)[2]).column(0).item(i))

In [9]:
depts = []
for i in np.arange((fall_2017.group(list(fall_2017)[0]).select(0)).num_rows):
    depts = np.append(depts, fall_2017.group(list(fall_2017)[0]).column(0).item(i))

In [10]:
dept = list(set(fall_2017.column(0)))

In [45]:
def course_dist(campus_dept):
    courses = bga_enrol.where('Campus Dept', campus_dept).group('Section Title').sort('count', descending=True)
    return print(courses.show(), courses.barh('Section Title'))

In [49]:
dept_list = list(set(bga_enrol.column(1)))
dept_list.sort()

In [50]:
_ = interact(course_dist, campus_dept= dept_list)

A Jupyter Widget